/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
  /* some CSS here */
  .containerTab {
     font-size: 275%;
  }
  h1 {
        font-size: 350%;
  }
  #mobile {display: block;}
  #desktop {display: none;}
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
  /* some CSS here */
  .containerTab {
     font-size: 275%;
  }
  h1 {
        font-size: 350%;
  }
  #mobile {display: block;}
  #desktop {display: none;}
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
  /* some CSS here */
  .containerTab {
     font-size: 275%;
  }
  h1 {
        font-size: 350%;
  }
  #mobile {display: block;}
  #desktop {display: none;}
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
  /* some CSS here */

  .containerTab {
     font-size: 275%;
  }
  h1 {
        font-size: 350%;
  }
  #mobile {display: block;}
  #desktop {display: none;}
}

/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
  /* some CSS here */
  .containerTab {
     font-size: 275%;
  }
  h1 {
        font-size: 350%;
  }
  #mobile {display: block;}
  #desktop {display: none;}
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
  /* some CSS here */
  .containerTab {
     font-size: 275%;
  }
  h1 {
        font-size: 350%;
  }
  #mobile {display: block;}
  #desktop {display: none;}
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  /* some CSS here */
  .containerTab {
     font-size: 275%;
  }
  h1 {
        font-size: 350%;
  }
  #mobile {display: block;}
  #desktop {display: none;}
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
  /* some CSS here */

  .containerTab {
     font-size: 125%;
  }
  h1 {
        font-size: 200%;
  }
  #mobile {display: none;}
  #desktop {display: block;}
}

.mobilebtn {
  height: 125px;
  width: 250px;
  border: 1px solid gray;
  background: white;
  border-radius: 12px;
  color: black;
  font-size: 250%;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mobilebtn:hover {
  border: 1px solid black;
  border-radius: 12px;
  cursor:pointer;
}

.mobilebtn:active {
  background-color: gray;
}

.deskbtn {
  padding: 5px 10px;
  font-size: 100%;
}

/* The grid: Three equal columns that floats next to each other */
.tc.column {
 float: left;
 width: 33.33%;
 padding: 50px;
 text-align: center;
 font-size: 25px;
 cursor: pointer;
 color: white;
}

.containerTab {
  margin-top: 25px;
  margin-bottom: 25px;
 padding: 20px;
 color: white;
}

/* Clear floats after the columns */
.row:after {
 content: "";
 display: table;
 clear: both;
}

/* Closable button inside the image */
.closebtn {
 float: right;
 color: white;
 font-size: 35px;
 cursor: pointer;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #797272;
}
