#mobile {display: none;}
#desktop {display: block;}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
  /* some CSS here */
  body {
    background-color: pink;
  }
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
  /* some CSS here */
  body {
    background-color: orange;
  }
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
  /* some CSS here */
  body {
    background-color: purple;
  }
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
  /* some CSS here */
  body {
    background-color: lime;
  }
  .navbutton {
    font-size: 250%;
  }
}

/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
  /* some CSS here */
  body {
    background-color: blue;
  }
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
  /* some CSS here */
  body {
    background-color: yellow;
  }
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  /* some CSS here */
  body {
    background-color: red;
  }
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
  /* some CSS here */
  body {
    background-color: green;
  }
  .navbutton {
    font-size: 100%;
  }
}

.mobilebtn {
  height: 125px;
  width: 250px;
  border: 1px solid gray;
  background: white;
  border-radius: 12px;
  font-size: 250%;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mobilebtn:hover {
  border: 1px solid black;
  border-radius: 12px;
  cursor:pointer;
}

.mobilebtn:active {
  background-color: gray;
}
